# 
# This is an example .env file. Copy this to .env and fill in the values as needed.
#

############################
### Server configuration ###
############################

# Yjs Websocket server port
YJS_PORT=1234
# Socket.IO server port
SOCKET_PORT=4000

##############################
### Frontend configuration ###
##############################

# Redis service in docker-compose
REDIS_URL=redis://redis:6379
# Websocket URL for Yjs client
NEXT_PUBLIC_YJS_WEBSOCKET_URL=wss://localhost:1234
# Websocket URL for Socket.IO client
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
# Glot API token for code execution
GLOT_API_TOKEN=# Sign in to https://glot.io/ and get your API token then paste it here

# Next.js Server Config
DATABASE_URL= # MongoDB connection string